<!DOCTYPE html>
<html lang="{{lang}}">
<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="{{asset "built/fossasite.css"}}">

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />

    {{!-- This tag outputs SEO meta+structured data and other important settings --}}
    {{ghost_head}}

</head>
<body class="{{body_class}}">
    {{!-- Begin FOSSA Header --}}
    <div class="landing-cover-container" style="z-index: 99999;">
      <div class="landing-cover">
        <div class="container">
          <div class="row landing-navigation">
            <div class="navbar navbar-default">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav-mobile"
                  aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="visible-collapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </span>
                  <span class="visible-expanded">
                    <i class="fossa-icon-close"></i>
                  </span>
                </button>
                <a class="navbar-brand nav-logo" href="/"><img src="https://assets-global.website-files.com/5f4d9ea2592c16056cb0f7a5/5f4d9ea2592c1613cdb0f7dc_logo-FOSSA-white.svg"></a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="main-nav-mobile">
                <div class="navbar-nav hidden-sm hidden-xs">
                  <ul class="nav nav-contents navbar-nav nav-pills">
                    <li>
                      <a href='/product/open-source-license-compliance'>License Compliance</a>
                    </li>
                    <li>
                      <a href='/product/open-source-vulnerability-management'>Vulnerability Management</a>
                    </li>
                    <li>
                      <a href='/about'>About FOSSA</a>
                    </li>
                    <li><a href="https://fossa.com/request-demo">Contact Us</a></li>
                  </ul>
                </div>
                <ul class="nav nav-mobile-contents navbar-nav nav-pills">
                  <li>
                    <a href='/product/open-source-license-compliance'>License Compliance</a>
                  </li>
                  <li>
                    <a href='/product/open-source-vulnerability-management'>Vulnerability Management</a>
                  </li>
                  <li>
                    <a href='/about'>About FOSSA</a>
                  </li>
                  <li><a href="https://fossa.com/request-demo">Contact Us</a></li>
                  <li><a href="https://fossa.com/request-demo">Request Demo</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <a class="primary-button-green-2 primary-button-nav w-button hidden-md hidden-sm hidden-xs" href="https://fossa.com/request-demo">Request Demo</a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{!-- End FOSSA Header --}}

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The footer at the very bottom of the screen --}}
        <div class="landing-footer-container">
          <div class="landing-footer">
            <div class="container">
              <div class="row landing-footer-navigation">
                <div class="col-md-12 col-xs-12 col-sm-12">
                  <ul class="nav nav-pills">
                    <li><a>For the Love of Open Source © 2021 FOSSA, Inc.</a></li>
                    <li class="pull-right"><a href="/privacy">Privacy Policy</a></li>
                    <li class="pull-right"><a href="/terms">Terms &amp; Conditions</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>

    </div>

    {{!-- The big email subscribe modal content --}}
    {{#if @labs.subscribers}}
    <div id="subscribe" class="subscribe-overlay">
        <a class="subscribe-overlay-close" href="#"></a>
        <div class="subscribe-overlay-content">
            {{#if @blog.logo}}
                <img class="subscribe-overlay-logo" src="{{@blog.logo}}" alt="{{@blog.title}}" />
            {{/if}}
            <h1 class="subscribe-overlay-title">Subscribe to {{@blog.title}}</h1>
            <p class="subscribe-overlay-description">Stay up to date! Get all the latest &amp; greatest posts delivered straight to your inbox</p>
            {{subscribe_form placeholder="youremail@example.com"}}
        </div>
    </div>
    {{/if}}

    <script>
        var images = document.querySelectorAll('.kg-gallery-image img');
        images.forEach(function (image) {
            var container = image.closest('.kg-gallery-image');
            var width = image.attributes.width.value;
            var height = image.attributes.height.value;
            var ratio = width / height;
            container.style.flex = ratio + ' 1 0%';
        })
    </script>

    {{!-- animated navbar (react + react dom + nav component + mount file) --}}
    <script type="text/javascript" crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script type="text/javascript" crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="{{asset "built/animatedNavbar.js"}}"></script>
    <script src="{{asset "built/nav-mount.js"}}"></script>

    {{!-- jQuery + Fitvids, which makes all video embeds responsive --}}
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{{asset "built/jquery.fitvids.js"}}"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    {{#if pagination.pages}}
    <script>
        // maxPages is a global variable that is needed to determine
        // if we need to load more pages for the infinitescroll, or if
        // we reached the last page already.
        var maxPages = parseInt('{{pagination.pages}}');
    </script>
    <script src="{{asset "built/infinitescroll.js"}}"></script>
    {{/if}}

    {{!-- The #block helper will pull in data from the #contentFor other template files. In this case, there's some JavaScript which we only want to use in post.hbs, but it needs to be included down here, after jQuery has already loaded. --}}
    {{{block "scripts"}}}

    {{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
    {{ghost_foot}}

</body>
</html>
